<template name="enterPin">

    <div class="progBarEmpty">
        <div class="progBar" style="width: 33%;"></div>
        <div class="progBarPoint" style="left: 33%;"></div>
    </div>


    <div class="grid__col grid__col-1-of-3" style="padding-left: 0;">

            <div class="pin-input">
                {{#if asterisks}}
                    {{asterisks}}
                {{else}}
                    {{#if isFrench}}Inserez votre NIP{{else}}Enter your PIN{{/if}}
                {{/if}}
            </div>

            <div class="numbers">
                {{#each numbers}}
                    <div class="grid__col grid__col--1-of-3 number" id="{{this}}" style="padding: 10px;">
                        {{this}}
                    </div>
                {{/each}}
            </div>
            <div class="grid__col grid__col--1-of-3 correction">&lt;</div>
            <div class="grid__col grid__col--2-of-3 submit">{{#if isFrench}}Proposer{{else}}Submit{{/if}}</div>

    </div>
    {{#if pinError}}
        <div class="grid__col grid__col--4-of-5 grid__col--centered pin-error">
            {{#if pinError}}
                {{#if isFrench}}
                    Votre code NIP est incorrect, essayez de nouveau.
                {{else}}Your PIN is incorrect, please try again.
                {{/if}}
            {{/if}}
        </div>
    {{/if}}


</template>