<template name="hardware">
    <div class="container hardware-container">

            <div class="grid">
                <div class="grid__col grid__col--2-of-12">
                    <div class="qrScan">
                        <i class="fa fa-qrcode"></i>
                        <div class="qrScanOptions">
                            <div class="arrow-down-qr"></div>
                            <form class="redeem-ticket">
                                <input class="scanTicket" type="text" name="text" placeholder="Scan Ticket" />
                            </form>
                            <form class="claim-voucher">
                                <input class="scanTicket" type="text" name="text" placeholder="Scan Voucher" />
                            </form>
                        </div>
                    </div>
                </div>

                <div class="grid__col grid__col--3-of-12">
                    <div class="cardInsert">
                        <div class="grid__col grid__col--4-of-4" style="text-align: center; padding-left: 150px;">
                            {{#unless hidePlastic}}
                                <button class="btn btn-default btn-plastic" disabled={{plasticDisabled}}>Credit</button>
                                <button class="btn btn-default btn-plastic" disabled={{plasticDisabled}}>Debit</button>
                            {{/unless}}
                        </div>
                        <div class="cardOptions">
                            <i class="fa fa-credit-card"></i>
                            <div class="arrow-right"></div>
                        </div>

                    </div>
                </div>

                <div class="grid__col grid__col--5-of-12">
                    <div class="cardInsert">
                        <div class="grid__col grid__col--4-of-4" style="text-align: center; padding-left: 150px;">
                            <button class="btn btn-default btn-coin" id=2 disabled={{coinsDisabled}}>$2</button>
                            <button class="btn btn-default btn-coin" id=1 disabled={{coinsDisabled}}>$1</button>
                            <button class="btn btn-default btn-coin" id=0.25 disabled={{coinsDisabled}}>$0.25</button>
                            <button class="btn btn-default btn-coin" id=0.10 disabled={{coinsDisabled}}>$0.10</button>
                            <button class="btn btn-default btn-coin" id=0.05 disabled={{coinsDisabled}}>$0.05</button>
                        </div>
                        <div class="cardOptions">
                            $
                            <div class="arrow-right"></div>
                        </div>
                    </div>
                </div>

                        <div class="grid__col grid__col--2-of-12">
                            <div class="ticketPrint">
                                <i class="fa fa-ticket"></i>
                            </div>
                            <div class="ticketSlot">
                                {{#if currentTicket}}
                                    {{#with currentTicket}}
                                        {{> ticket}}
                                    {{/with}}
                                {{else}}
                                    {{#if currentVoucher}}
                                        {{#with currentVoucher}}
                                            {{> voucher}}
                                        {{/with}}
                                    {{/if}}
                                {{/if}}
                            </div>


                        </div>


            </div>

    </div>


</template>