<template name="hardware">
    <div class="container hardware-container">
        {{#unless hidePlastic}}
            <button class="btn btn-default btn-credit" disabled={{plasticDisabled}}>Credit</button>
            <button class="btn btn-default btn-debit" disabled={{plasticDisabled}}>Debit</button>
        {{/unless}}
        <button class="btn btn-default btn-toonie" disabled={{coinsDisabled}}>toonie</button>
        <button class="btn btn-default btn-loonie" disabled={{coinsDisabled}}>loonie</button>
        <button class="btn btn-default btn-quarter" disabled={{coinsDisabled}}>quarter</button>
        <button class="btn btn-default btn-dime" disabled={{coinsDisabled}}>dime</button>
        <button class="btn btn-default btn-nickel" disabled={{coinsDisabled}}>nickel</button>
    </div>
    <hr>
</template>