<template name="hardware">
    <div class="container hardware-container">

            <div class="grid">
                <div class="grid__col grid__col--2-of-12">
                    <div class="qrScan">
                        <i class="fa fa-qrcode"></i>
                    </div>
                </div>

                <div class="grid__col grid__col--3-of-12">
                    <div class="cardInsert">
                        <div class="grid__col grid__col--4-of-4" style="text-align: center; padding-left: 150px;">
                            {{#unless hidePlastic}}
                                <button class="btn btn-default btn-credit" disabled={{plasticDisabled}}>Credit</button>
                                <button class="btn btn-default btn-debit" disabled={{plasticDisabled}}>Debit</button>
                            {{/unless}}
                        </div>
                        <div class="cardOptions">
                            <i class="fa fa-credit-card"></i>
                            <div class="arrow-right"></div>
                        </div>

                    </div>
                </div>

                <div class="grid__col grid__col--5-of-12">
                    <div class="cardInsert">
                        <div class="grid__col grid__col--4-of-4" style="text-align: center; padding-left: 150px;">
                            <button class="btn btn-default btn-toonie" disabled={{coinsDisabled}}>$2</button>
                            <button class="btn btn-default btn-loonie" disabled={{coinsDisabled}}>$1</button>
                            <button class="btn btn-default btn-quarter" disabled={{coinsDisabled}}>$0.25</button>
                            <button class="btn btn-default btn-dime" disabled={{coinsDisabled}}>$0.10</button>
                            <button class="btn btn-default btn-nickel" disabled={{coinsDisabled}}>$0.05</button>
                        </div>
                        <div class="cardOptions">
                            $
                            <div class="arrow-right"></div>
                        </div>
                    </div>
                </div>

                <div class="grid__col grid__col--2-of-12">
                    <div class="ticketPrint">
                        <i class="fa fa-ticket"></i>
                    </div>
                </div>

            </div>

    </div>

    <form class="redeem-ticket">
        <input type="text" name="text" placeholder="Enter ticket ID to simulate scanning a ticket" />
    </form>
    <form class="claim-voucher">
    <input type="text" name="text" placeholder="Enter voucher ID to simulate inserting" />
</form>
</template>