<template name="addTimeCredit">
    {{>hardware coinsDisabled=true plasticDisabled=true}}

    <div class="container">

        <div class="grid">
            <div class="grid__col grid__col--2-of-12"></div>

            <div class="grid__col grid__col--8-of-12">
                <div class="mainSpace">
                    <div class="whiteSpace">
                        <div class="progBarEmpty">
                            <div class="progBar" style="width: 66%;"></div>
                            <div class="progBarPoint" style="left: 66%;"></div>
                        </div>
                        <h1 class="instructions">
                            {{#if isFrench}}Ajouter ou supprimer des temps (0.50 $ par demi-heure){{else}}Add or remove time ($0.50 per half hour){{/if}}
                        </h1>
                        timeAdded: {{timeAdded}} <br>
                        {{#if voucherValue}}
                            Voucher Credit: {{voucherValue}} hours <br>
                        {{/if}}
                        current: {{currentTime}} <br>
                        ends at: {{endTime}} <br>
                        <button class="btn btn-default btn-add-time">+30 mins</button>
                        <button class="btn btn-default btn-remove-time">-30 mins</button> <br>
                        <button class="btn btn-default btn-print">
                            {{#if isFrench}}Billet imprime{{else}}print ticket{{/if}}
                        </button>
                    </div>
                    <div class="arrow-down"></div>
                </div>
            </div>

        </div>

    </div>
</template>