 <template name="ticket">
    <div class="ticket">
        <div class="ticketText">
            Date printed: {{timeDate}} <br>
            moneyAdded: ${{timeAdded}} <br>
            current: {{currentTime}} <br>
            ends at: {{endTime}} <br>
            <div class="qr-code-container">
                <div class='qrcode' id="qrCode">
                </div>
            </div>
            {{_id}}
        </div>
        <div class="ticketTear">
            <div class="tear"></div>
            <div class="tear"></div>
            <div class="tear"></div>
            <div class="tear"></div>
            <div class="tear"></div>
            <div class="tear"></div>
            <div class="tear"></div>
            <div class="tear"></div>
            <div class="tear"></div>
            <div class="tear"></div>
        </div>
    </div>
</template>