/* CSS declarations go here */

/*COLOUR VARIABLES*/
@offwhite: #F6F7F8;
@bkgcolour: #DADFE1;
@shdwcolour: #8A9AA0;
@primcolour: #31C057;
@seccolour: #21833B;
@tertcolour: #6CDA89;


/*GENERAL ELEMENTS*/
body {
  background-color: @bkgcolour;
}


/*MAIN VIEW*/
.mainSpace {
  background-color: white;
  height: 650px;
  width: 100%;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 1px 0px @shdwcolour;
  -moz-box-shadow: 0px 1px 1px 0px @shdwcolour;
  box-shadow: 0px 1px 1px 0px @shdwcolour;
}
.whiteSpace {
  background-color: @primcolour;
  left: 0;
  right: 0;
  top: 0;
  bottom: 75px;
  position: absolute;
  height: auto;
  width: auto;
  padding: 20px;
  color: @offwhite;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.arrow-down {
  width: 0;
  height: 0;
  position: relative;
  top: 575px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid @primcolour;
  margin-left: auto;
  margin-right: auto;
}
.progBarEmpty {
  width: 100%;
  height: 20px;
  background-color: @tertcolour;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: 0;
  left: 0;
  position: absolute;
}
.progBar {
  height: 100%;
  background-color: @seccolour;
  left: 0;
  position: absolute;
  border-top-left-radius: 2px;
}
.progBarPoint {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid @seccolour;
  position: absolute;
}
.timeView {
  bottom: 2.3em;
  left: 1em;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: @primcolour;
  text-align: center;
  width: 50%;
  height: 50px;
  position: relative;
  float: left;
}
.dateView {
  bottom: 2.3em;
  right: 0.5em;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: @primcolour;
  text-align: center;
  width: 50%;
  height: 50px;
  position: relative;
  float: left;
}


/*HARDWARE VIEW*/
.cardInsert {
  height: 150px;
  width: 100%;
  background-color: @offwhite; 
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 1px 0px @shdwcolour;
  -moz-box-shadow: 0px 1px 1px 0px @shdwcolour;
  box-shadow: 0px 1px 1px 0px @shdwcolour;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 30px;
}
.cardOptions {
  top: 0;
  left: 0;
  bottom: 0;
  width: 150px;
  height: auto;
  padding-top: 30px;
  position: absolute;
  background-color: @primcolour;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  color: @seccolour;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 4.5em;
}
.arrow-right {
  width: 0;
  height: 0;
  right: -18px;
  bottom: 18px;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid @primcolour;
  position: absolute;
}
.qrScan {
  height: 120px;
  width: 200px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 1px 0px @shdwcolour;
  -moz-box-shadow: 0px 1px 1px 0px @shdwcolour;
  box-shadow: 0px 1px 1px 0px @shdwcolour;
  position: relative;
  background-color: @primcolour;
  color: @seccolour;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 4.5em;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 30px;
  float: right;
}
.ticketPrint {
  height: 120px;
  width: 200px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 1px 0px @shdwcolour;
  -moz-box-shadow: 0px 1px 1px 0px @shdwcolour;
  box-shadow: 0px 1px 1px 0px @shdwcolour;
  position: absolute;
  background-color: @primcolour;
  color: @seccolour;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 4.5em;
  margin-top: 20px;
  padding-top: 30px;
  float: left;
}
.ticketSlot {
  width: 190px;
  height: 10px;
  background-color: @seccolour;
  position: relative;
  left: 5px;
  top: 155px;
}
.ticket {
  height: 300px;
  width: 180px;
  background-color: @offwhite;
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-box-shadow: 0px 3px 10px 0px @shdwcolour;
  -moz-box-shadow: 0px 3px 10px 0px @shdwcolour;
  box-shadow: 0px 3px 10px 0px @shdwcolour;
}
.ticketText {
  width: 100%;
  height: 100%;
  position: relative;
  color: black;
  text-align: center;
  font-family: 'Rokkitt', serif;
  font-weight: 700;
  font-size: 1em;
  margin-top: 10px;
}
.tear{
  width: 0;
  height: 0;
  bottom: 0px;
  position: relative;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid @offwhite;
  float: left;
}
.ticketTear {
  width: 180px;
  height: 9px;
  position: absolute;
  top: 300px;
}



/*BUTTONS*/
.btn {
  background: @primcolour;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-bottom-width: 2px;
  border-bottom-color: @seccolour;
  border-bottom-style: solid;
  border-right-width: 0;
  border-left-width: 0;
  border-top-width: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: @offwhite;
  font-size: 1em;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 5px 5px 5px 5px;
  width: 7em;
  height: 3em;
}
.btn-lang-container {
  bottom: 4.2em;
  right: 7.5em;
  position: relative;
  float: left;
}
.btn-back-container {
  bottom: 4.2em;
  right: 7.5em;
  position: relative;
  float: left;
}
.btn-done-container {
  bottom: 4.2em;
  right: 7.5em;
  position: relative;
  float: left;
}
.btn:hover {
  background: @seccolour;
  border-bottom-color: @primcolour;
  text-decoration: none;
}
