/* CSS declarations go here */

/*COLOUR VARIABLES*/
@offwhite: #F6F7F8;
@bkgcolour: #DADFE1;
@shdwcolour: #8A9AA0;
@primcolour: #31C057;
@seccolour: #21833B;
@tertcolour: #6CDA89;
@redlight: #cb3434;
@reddark: #832222;
@bluelight: #34cbcb;
@bluedark: #258f8f;
@darkgrey: #707070;


/*GENERAL ELEMENTS*/
body {
  background-color: @bkgcolour;
  padding: 0;
  margin: 0 0;
}


/*MAIN VIEW*/
.mainSpace {
  background-color: white;
  height: 738px;
  width: 100%;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 1px 0px @shdwcolour;
  -moz-box-shadow: 0px 1px 1px 0px @shdwcolour;
  box-shadow: 0px 1px 1px 0px @shdwcolour;
}
.whiteSpace {
  background-color: @primcolour;
  padding: 10px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 208px;
  position: absolute;
  height: auto;
  width: auto;
  color: @offwhite;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.arrow-down {
  width: 0;
  height: 0;
  position: relative;
  top: 775px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid @primcolour;
  margin-left: auto;
  margin-right: auto;
}
.progBarEmpty {
  width: 100%;
  height: 20px;
  background-color: @tertcolour;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  top: 0;
  left: 0;
  position: absolute;
}
.progBar {
  height: 100%;
  background-color: @seccolour;
  left: 0;
  position: absolute;
  border-top-left-radius: 2px;
}
.progBarPoint {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid @seccolour;
  position: absolute;
}
.timeView {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: @darkgrey;
  text-align: center;
  width: auto;
  height: auto;
  position: absolute;
  bottom: 36px;
  right: 25px;
}
.dateView {
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: @darkgrey;
  text-align: center;
  width: auto;
  height: auto;
  position: absolute;
  bottom: 12px;
  right: 25px;
}
.weatherContainer {
  height: 100px;
  width: 100%;
  background-color: @offwhite;
  position: absolute;
  top: 520px;
}
.weatherTime {
  width: 25%;
  height: auto;
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: @offwhite;
  text-align: center;
  background-color: @primcolour;
  position: relative;
  float: left;
}
.weatherIcon {
  width: 100%;
  height: auto;
  background-color: @offwhite;
  font-size: 0.7em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: @darkgrey;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.weatherTemp {
  width: 100%;
  height: auto;
  background-color: @primcolour;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: @offwhite;
  text-align: center;
}


/*HARDWARE VIEW*/
.cardInsert {
  height: 150px;
  width: 100%;
  background-color: @offwhite; 
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 1px 0px @shdwcolour;
  -moz-box-shadow: 0px 1px 1px 0px @shdwcolour;
  box-shadow: 0px 1px 1px 0px @shdwcolour;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 30px;
}
.cardOptions {
  top: 0;
  left: 0;
  bottom: 0;
  width: 150px;
  height: auto;
  padding-top: 30px;
  position: absolute;
  background-color: @primcolour;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  color: @seccolour;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 4.5em;
}
.arrow-right {
  width: 0;
  height: 0;
  right: -18px;
  bottom: 18px;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid @primcolour;
  position: absolute;
}
.qrScan {
  height: 120px;
  width: 200px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  -webkit-box-shadow: 0px 1px 1px 0px @shdwcolour;
  -moz-box-shadow: 0px 1px 1px 0px @shdwcolour;
  box-shadow: 0px 1px 1px 0px @shdwcolour;
  position: relative;
  background-color: @primcolour;
  color: @seccolour;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 4.5em;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 30px;
  float: right;
}
.qrScanOptions {
  height: 220px;
  width: 100%;
  background-color: @offwhite;
  position: absolute;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  -webkit-box-shadow: 0px 1px 1px 0px @shdwcolour;
  -moz-box-shadow: 0px 1px 1px 0px @shdwcolour;
  box-shadow: 0px 1px 1px 0px @shdwcolour;
  top: 150px;
}
.arrow-down-qr {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 18px solid @primcolour;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 18px;
}
.scanTicket {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid @primcolour;
  width: 90%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.2em;
  text-align: center;
}
.ticketPrint {
  height: 120px;
  width: 200px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 1px 0px @shdwcolour;
  -moz-box-shadow: 0px 1px 1px 0px @shdwcolour;
  box-shadow: 0px 1px 1px 0px @shdwcolour;
  position: absolute;
  background-color: @primcolour;
  color: @seccolour;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 4.5em;
  margin-top: 20px;
  padding-top: 30px;
  float: left;
}
.ticketSlot {
  width: 190px;
  height: 10px;
  background-color: @seccolour;
  position: relative;
  left: 5px;
  top: 155px;
}
.ticket {
  height: 300px;
  width: 180px;
  background-color: @offwhite;
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-box-shadow: 0px 3px 10px 0px @shdwcolour;
  -moz-box-shadow: 0px 3px 10px 0px @shdwcolour;
  box-shadow: 0px 3px 10px 0px @shdwcolour;
}
.ticketText {
  width: 100%;
  height: 100%;
  position: relative;
  color: black;
  text-align: center;
  font-family: 'Rokkitt', serif;
  font-weight: 700;
  font-size: 1em;
  margin-top: 10px;
}
.tear{
  width: 0;
  height: 0;
  bottom: 0px;
  position: relative;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid @offwhite;
  float: left;
}
.ticketTear {
  width: 180px;
  height: 9px;
  position: absolute;
  top: 300px;
}
.pin-error {
  background: red;
}
.pin-input {
  background-color: @tertcolour;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 10px;
}
.numbers {
  background-color: @seccolour;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-right-width: 1px;
}
.correction {
  background-color: @redlight;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 0px;
  width: 30%;
}
.submit {
  background-color: @bluelight;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 0px;
  width: 30%;
}
.payContainer {
  height: 250px;
  background: @seccolour;
}
.payContainerControl {
  background: white;
  height: 250px;
}


/*BUTTONS*/
.btn {
  background: @primcolour;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-bottom-width: 2px;
  border-bottom-color: @seccolour;
  border-bottom-style: solid;
  border-right-width: 0;
  border-left-width: 0;
  border-top-width: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: @offwhite;
  font-size: 1em;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 5px 5px 5px 5px;
  width: 100px;
  height: 45px;
}
.btn-lang-container {
  bottom: 10px;
  left: 25px;
  position: absolute;
}
.btn-back-container {
  bottom: 10px;
  left: 160px;
  position: absolute;
  background-color: @redlight;
  border-bottom-color: @reddark;
}
.btn-done-container {
  display: block;
  margin: 480px auto;
  position: relative;
}
.btn-print {
  height: 200px !important;
  width: 200px !important;
}
.btn-map-container {
  position: absolute;
  bottom: 10px;
  left: 160px;
  background-color: @bluelight;
  border-bottom-color: @bluedark;
}
.btn-add-time {
  width: 200px !important;
  height: 100px !important;
}
.btn-remove-time {
  width: 200px !important;
  height: 100px !important;
}
.btn:hover {
  background: @seccolour;
  border-bottom-color: @primcolour;
  text-decoration: none;
}
.btn:disabled {
  background: #ababab;
  border-bottom-color: #818181;
}
