<template name="appLayout">
    <head>
        <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, height=device-height, width=device-width" />
    </head>
    <div id="main">
        <div class="container container-main">
            {{> yield}}
            <hr>
            {{#if showBackButton}}
                <button class="btn btn-default btn-back">back</button>
            {{/if}}
            {{#if showDoneButton}}
                <button class="btn btn-default btn-done">Done</button>
            {{/if}}
        </div>
        {{! Also a sidebar! }}
    </div>
</template>