<template name="claimTicket">
    Claiming time remaining on ticket: {{ticket._id}} <br>
    {{#if ticket.claimed}}
        This voucher has already been claimed
    {{else}}
        {{#if hasTimeRemaining}}
            This voucher has {{excessTime}} remaining on it.
        {{else}}
            There is no time remaining on your ticket.
        {{/if}}
    {{/if}}
    <br>
    Have a nice day!
    {{#if hasTimeRemaining}}
        <button class="btn btn-default btn-got-it">Print Voucher</button>
    {{else}}
        <button class="btn btn-default btn-back">Back</button>
    {{/if}}
</template>