<template name="voucher">
    <div class="ticket">
        <div class="ticketText">
            <h3>VOUCHER</h3>
            {{#if isFrench}}Temps Restant{{else}}Time Remaining{{/if}} {{time}} <br><br>
            <div class="qr-code-container">
                <div class='qrcode' id="qrCode"></div>
            </div>
            {{_id}}
        </div>
        <div class="ticketTear">
            <div class="tear"></div>
            <div class="tear"></div>
            <div class="tear"></div>
            <div class="tear"></div>
            <div class="tear"></div>
            <div class="tear"></div>
            <div class="tear"></div>
            <div class="tear"></div>
            <div class="tear"></div>
            <div class="tear"></div>
        </div>
    </div>
</template>