<template name="printTicket">
    <div class="progBarEmpty">
        <div class="progBar" style="width: 100%; border-top-right-radius: 2px;"></div>
    </div>
    <h1 class="instructions">
        {{#if isFrench}}S'il-vous-plait prennez votre billet et passez une belle journee.{{else}}Please collect your ticket and have a nice day.{{/if}}
    </h1>
    <button class="btn btn-default btn-done-container btn-print btn-done">
        {{#if isFrench}}Termine{{else}}Done{{/if}}
    </button>
</template>