<head>
    <!--FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<template name="start">
    {{>hardware coinsDisabled=false}}

    <div class="mainSpace">
        <div class="whiteSpace">
            <h1 class="instructions">
                Select Method of Payment <br> or Insert Coins to Begin
            </h1>
            <div class="arrow-down"></div>
        </div>
    </div>

</template>
