<template name="start">
    <div class="progBarEmpty">
        <div class="progBar" style="width: 33%;"></div>
        <div class="progBarPoint" style="left: 33%;"></div>
    </div>
    <div class="steps">
        <div class="grid__col grid__col--1-of-3 step" style="margin-right: 150px">
            <div style="font-weight: 700">Step 1</div><i class="fa fa-credit-card"></i>  <i class="fa fa-usd"></i>  <i class="fa fa-money"></i><br>Insert payment
        </div>
        <div class="grid__col grid__col--1-of-3 step">
            <div style="font-weight: 700">Step 2</div><i class="fa fa-clock-o"></i><br>Add time
        </div>
        <div class="grid__col grid__col--1-of-3 step" style="margin-left: 150px">
            <div style="font-weight: 700">Step 3</div><i class="fa fa-newspaper-o"></i><br>Take recipt
        </div>
    </div>
    <h1 class="instructions">
        {{#if isFrench}}Inserez carte de debit/credit ou inserer des pieces pour commencer{{else}}Insert debit/credit card or insert coins to begin{{/if}}
    </h1>
</template>
