<template name="start">
    <div class="progBarEmpty">
        <div class="progBar" style="width: 33%;"></div>
        <div class="progBarPoint" style="left: 33%;"></div>
    </div>
    <div class="steps">
        <div class="grid__col grid__col--1-of-3 step">
            <div class="step-text">{{#if isFrench}}ETAPE 1{{else}}STEP 1{{/if}}</div>
            <i class="fa fa-credit-card" style="font-size: 90px;"></i>
            <div class="step-desc">{{#if isFrench}}Inserez Paie{{else}}Insert Payment{{/if}}</div>
        </div>
        <div class="grid__col grid__col--1-of-3 step">
            <div class="step-text">{{#if isFrench}}ETAPE 2{{else}}STEP 2{{/if}}</div>
            <i class="fa fa-clock-o" style="font-size: 90px;"></i>
            <div class="step-desc">{{#if isFrench}}Ajoutez du Temps{{else}}Add Time{{/if}}</div>
        </div>
        <div class="grid__col grid__col--1-of-3 step">
            <div class="step-text">{{#if isFrench}}ETAPE 3{{else}}STEP 3{{/if}}</div>
            <i class="fa fa-ticket" style="font-size: 90px;"></i>
            <div class="step-desc">{{#if isFrench}}Prennez le Billet{{else}}Take Ticket{{/if}}</div>
        </div>
    </div>
    <h1 class="instructions" style="top: 200px; position: relative;">
        {{#if isFrench}}Inserez carte de debit/credit ou pieces pour commencer.{{else}}Insert debit/credit card or insert coins to begin.{{/if}}
    </h1>
</template>
